<div class="create-menu">
  <nz-form-item>
    <nz-form-label nzFor="note">Nombre</nz-form-label>
    <nz-form-control  nzErrorTip="Por favor ingresa el nombre del menu">
      <input nz-input placeholder="Escribir nombre del menu" [(ngModel)]="menu.name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="note">Fecha del menu</nz-form-label>
    <nz-form-control  nzErrorTip="Por favor ingresa la fecha del menu">
      <nz-date-picker [(ngModel)]="menu.date"  [nzFormat]="dateFormat"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <div class="create-button">
    <button nz-button nzType="primary" (click)="createMenu()">
        <i nz-icon nzType="plus"></i>
        Crear Menu
    </button>
  </div>
</div>